

$white-color: #ffffff;
$purple-color: purple;
$light-blue-color: #0f4895;
$dip-blue-color: #48587d;
$orange-color: #fbb100;
$maroon-color: maroon;
$green-color: #018d25;



$header-height: 70px;

$breakpoint-smartphone-iPhone4: 360px;
$breakpoint-smartphone: 480px;
$breakpoint-samsung-sfour: 640px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-tablet-landscape-990: 990px;
$breakpoint-desktop: 1200px;
$breakpoint-min-1370: 1370px;
